@using Lab3_HMI.Models
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model List<Flight>
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/TablesStyle.css" />
    <link rel="stylesheet" href="~/css/hints.css" />
    <link rel="stylesheet" href="~/css/search.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/flights.js"></script>
</head>

<div class="container">
    <br />

    <h1>
        <center>Список рейсов на сегодня</center>
    </h1> <br />
    @*<div class="row">
            <div class="col-md-12">
                <div class="input-group" id="adv-search">

                    <input type="search" id="searchString" value="@ViewBag.SearchString" class="form-control" placeholder="Поиск номеру рейса, авиакомпании..." />
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>

                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <form method="get" asp-action="Index" class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="filter">Сортировка</label>
                                            <select class="form-control" name="sortOrder">

                                                <option value="0">По возростанию</option>
                                                <option value="1">По убыванию</option>
                                            </select>
                                            <select class="form-control" name="sortNum">
                                                <option criteria="0" value="0" selected>По номеру рейса</option>
                                                <option criteria="1" value="1">По названию компании</option>
                                                <option criteria="2" value="2">По дате прибытия</option>
                                                <option criteria="3" value="3">По дате отправления</option>
                                                <option criteria="4" value="4">По типу самолета</option>
                                            </select>
                                        </div>
                                        <input type="submit" value="Сортировать" class="btn btn-primary" />
                                        <div class="form-group">
                                            <label for="contain">Фильтрация</label>
                                            <div>
                                                <p>Тип самолета</p>
                                                <div class="checkbox-inline">
                                                    <input flag="1" type="checkbox" value="Пассажирский" name="boxFilter" /> Пассажирский

                                                </div>
                                                <div class="checkbox-inline">
                                                    <input flag="2" type="checkbox" value="Грузовой" name="boxFilter" /> Грузовой

                                                </div>
                                            </div>
                                        </div>
                                        <input type="submit" value="Фильтровать" class="btn btn-primary" />
                                        <div class="form-group">
                                            <label for="contain">Поиск по номеру багажа</label>
                                            <input class="form-control" type="text" />
                                        </div>
                                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </form>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary searchBtn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>

<label id="errorSearch"></label>

<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-left: 5% ">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Сортировать <b class="caret"></b></a>
                <ul class="dropdown-menu" style="background: rgb(155, 201, 255)">
                    <li><a href="#">По времени отправления</a></li>
                    <li><a href="#">По времени прибытия</a></li>
                    <li class="divider"></li>
                    <li><a href="#">По авиакомпании</a></li>
                </ul>
            </li>
        </ul>
        <div class="col-sm-3 col-md-3" style="margin-left: 15%">
            <form class="navbar-form" role="search">
                <div class="input-group" style="width:400px">
                    <input type="text" class="form-control" autocomplete="off" placeholder="Введите номер рейса" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Показать в обратном порядке</a></li>

        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
@if (ViewBag.SearchString != null)
{
    <div style="margin: 30px 0 30px 20px;">
        <h4>Результаты по запросу "@ViewBag.SearchString". <a asp-action="Index">Показать все</a></h4>
    </div>
}



<div class="tableInfo">
    @if (Model != null && Model.Count != 0)
    {
        var count = 1;
        <table class="simple-little-table" id="table">
                <tr>
                    <th><b>№ рейса</b></th>
                    <th><b>Название авиакомпании</b></th>
                    <th><b>Тип самолета</b></th>
                    <th><b>Время отправления</b></th>
                    <th><b>Точка отправления</b></th>
                    <th><b>Точка прибытия</b></th>
                    <th><b>Время прибытия</b></th>

                </tr>
            @foreach (var flight in Model)
            {
                <tr>
                    <td>@flight.Id</td>
                    <td>@flight.CompanyName</td>
                    <td>@flight.AircraftType</td>
                    <td>@flight.DateOfStart</td>
                    <td>@flight.DepaturePoint</td>
                    <td>@flight.ArrivalPoint</td>
                    <td>@flight.DateOfFinish</td>
                </tr>
            }
        </table>
    }
    else if (ViewBag != null)
    {
        <center>
            <h3>
                В системе отсутствуют искомые данные о рейсах. Может быть Вы имели ввиду <a asp - action="Index" asp-route-searchString="Turkish"> Turkish</a>?
                <br />

            </h3>
        </center>
        <h3 style="margin-left:70px;"><a asp-action="Index">Показать все</a></h3>
    }
    else
    {
        <h3>В системе отсутствуют искомые данные о рейсах</h3>
    }
</div>


<script>
    $(document).ready(function (e) {
        $('.search-panel .dropdown-menu').find('a').click(function (e) {
            e.preventDefault();
            var param = $(this).attr("href").replace("#", "");
            var concept = $(this).text();
            $('.search-panel span#search_concept').text(concept);
            $('.input-group #search_param').val(param);
        });


        setTimeout(function () {
            $("#addNotice").hide("slow");
        }, 3000);

        setTimeout(function () {
            $("#editNotice").hide("slow");
        }, 3000);


        $(".searchBtn").click(function () {
            var searchString = $("#searchString").val();
            if (searchString != null && searchString.length != 0)
                location = "http://localhost:55918/Home/Index/?searchString=" + searchString;
            else
                $("#errorSearch").html("<span style='color:red;margin-left:350px;'>Введите значение для поиска</span>");
        });
    });


    $("#table tr").click(function (e) {
        var x_coord = e.clientX + 10;
        var y_coord = e.clientY - 575;
        $("#operations").remove();

        var selected = $(this).hasClass('selected');
        $("#table tr").removeClass('selected');

        if (!selected) {
            $(this).addClass('selected');
            $("body").append("<div class='operations' id='operations' style='position:absolute;z-index:101;margin-left:" + x_coord
    + "px;margin-top:" + y_coord + "px;'><span class='glyphicon glyphicon-pencil edit' title='Редактировать информацию о рейсе' />"
    + "<span class='glyphicon glyphicon-trash remove' title='Удалить информацию о рейсе' /></div>");
            document.getElementById('flightId').value = $(this).find('td:first').html();
        }
    });

    $("#table tr").dblclick(function () {

        var id = $(this).find('td:first').html();
        location = "http://localhost:55918/Home/PassengersOfFlight/?flightId=" + id;

    });

    //$('.ok').on('click', function (e) {
    //    alert($("#table tr.selected td:first").html());
    //});

    $('#table tr').hover(function () {
        $(this).addClass('hover');
    }, function () {
        $(this).removeClass('hover');
    });
</script>



@if (ViewBag.SortNum != null)
{
    <script>
        var sortNum = "@ViewBag.SortNum";
        $("option[criteria=" + sortNum + "]").attr("selected", true);
    </script>
}

@if (ViewBag.Checked != null)
{
    foreach (var item in ViewBag.Checked)
    {

        <script>
            var boxFlag = "@item";
            $("input[flag=" + boxFlag + "]").attr("checked", true);
        </script>
    }
}
