@using Lab3_HMI.Models
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model List<Passenger>

@{
    ViewData["Title"] = "Пассажиры";
}

<head>
    <link rel="stylesheet" href="~/css/TablesStyle.css" />
    <link rel="stylesheet" href="~/css/hints.css"/>
    <link rel="stylesheet" href="~/css/search.css"/>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/flights.js"></script>
</head>
<div class="navbar navbar-inverse navbar-fixed-top" style="opacity: 0.6;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="my_class" asp-area="" asp-controller="Home" asp-action="HelloPage">Главная</a></li>
                <li><a class="my_class" asp-area="" asp-controller="Home" asp-action="Index">Рейсы</a></li>
                <li><a class="my_class" asp-area="" asp-controller="Home" asp-action="FlightsMonitoring">Мониторинг полетов</a></li>
                <li style="background: rgba(42, 216, 247, 0.7);"><a class="activeNav" style="color: #ffffff" asp-area="" asp-controller="Home" asp-action="">Пассажиры рейса</a></li>
            </ul>
        </div>
    </div>
</div>
<br/>
        <center><h2>Пассажиры рейса @ViewBag.Route</h2></center>

<br/>
<a asp-action="Index" style="margin-bottom: 17px; margin-left: 20px"><span class="glyphicon glyphicon-arrow-left"></span> Назад</a>
    @if (Model != null && Model.Count != 0)
    {
        <br/><br/>
        <a asp-action="AddPassenger" asp-route-flightId="@ViewBag.FlightId" class="btn btn-info addPass" style="margin-bottom: 17px; margin-left: 20px">Добавить пассажира<span class="glyphicon glyphicon-plus" style="margin-left: 10px;"></span>  </a>

        <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-left: 5% ">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Сортировать <b class="caret"></b></a>
                        <ul class="dropdown-menu" style="background: rgb(155, 201, 255)">
                            <li><a href="#">По фамилии</a></li>
                            <li><a href="#">По имени</a></li>
                            
                        </ul>
                    </li>
                </ul>
                <div class="col-sm-3 col-md-3" style="margin-left: 15%">
                    <form class="navbar-form" role="search">
                        <div class="input-group" style="width:400px">
                            <input type="text" class="form-control" placeholder="Введите номер багажа" name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Показать в обратном порядке</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        var count = 1;
        <table id="table" class="simple-little-table" style="width: 96%; margin-left: 20px;">
            <tr>
                <th><b>№ пассажира</b></th>
                <th><b>Фамилия</b></th>
                <th><b>Имя</b></th>
                <th><b>Телефон</b></th>
                <th><b>Багаж</b></th>

            </tr>
            @foreach (var passenger in Model)
            {
                <tr name="row">
                    <td>@count</td>
                    <td>@passenger.Surname</td>
                    <td>@passenger.Name</td>
                    <td>@passenger.Phone</td>

                    @if (passenger.Baggage.Count == 0)
                    {
                        <td>Отсутствует</td>
                    }
                    else
                    {
                        <td>
                            <div class="form-group">
                                
                                @for (var i = 0; i < passenger.Baggage.Count; i++)
                                {
                                    <p>
                                        Тип : @passenger.Baggage[i].Type,
                                        Вес : @passenger.Baggage[i].Weight <br/>
                                        Параметры: @passenger.Baggage[i].Width X @passenger.Baggage[i].Height X @passenger.Baggage[i].Depth
                                    </p>

                                }

                            </div>
                        </td>
                    }
                </tr>
                count++;
            }
        </table>
    }
    else
    {
        <h3>В данном рейсе отсутствуют пассажиры.</h3>
        <br/>
        <a asp-action="AddPassenger" asp-route-flightId="@ViewBag.FlightId" class="btn btn-info addPass" style="margin-bottom: 17px">Добавить пассажира<span class="glyphicon glyphicon-plus" style="margin-left: 10px;"></span>  </a>
    }

<style>
   a {
    color: white; /* Цвет ссылок */
   }
   a:hover {
    color: black; /* Цвет ссылки */ 
   } 

</style>
<script>
    $(document).ready(function (e) {

        $('.search-panel .dropdown-menu').find('a').click(function (e) {
            e.preventDefault();
            var param = $(this).attr("href").replace("#", "");
            var concept = $(this).text();
            $('.search-panel span#search_concept').text(concept);
            $('.input-group #search_param').val(param);
        });


        $("#table tr").click(function (e) {

            var x_coord = e.clientX + 10;
            var y_coord = e.clientY - 450;
            $("#operations").remove();

            var selected = $(this).hasClass('selected');
            $("#table tr").removeClass('selected');

            if (!selected) {
                $(this).addClass('selected');
                $("body").append("<div class='operations' id='operations' style='position:absolute;z-index:101;margin-left:" + x_coord
        + "px;margin-top:" + y_coord + "px;'><span class='glyphicon glyphicon-pencil edit' title='Редактировать информацию о рейсе' />"
        + "<span class='glyphicon glyphicon-trash remove' title='Удалить информацию о рейсе' /></div>");
                document.getElementById('flightId').value = $(this).find('td:first').html();
            }
        });
    });

</script>